@use "mixin" as m;

.home-hero{
    margin-bottom: 59px;

    @include m.responsive(768px){
        margin-bottom: 99px;
    }

    .navbar{
        z-index: 99;

        .navbar-brand{
            color: #fff;
        }

        i{
            display: none;
        }
    }

    &.active{

        .navbar{
            
            .navbar-brand{
                color: #000;
            }

            span{
                display: none;
            }

            i{
                display: block;
            }
        } 
    }

    &-wrap{
        height: 100vh;

        @include m.responsive(992){
            height: 120vh;
        }

        @include m.responsive(1200){
            height: 100vh;
        }
    }

    &-overlay{
        background: linear-gradient(180deg, black, transparent,  transparent);
        z-index: 5;
    }

    &-text{
        max-width:960px;
        color: #fff;

        h2{
            font-size: 35px;
            color: #fff;

            @include m.responsive(768){
                font-size:75px
            }

            @include m.responsive(992){
                font-size:50px
            }

            @include m.responsive(1200){
                font-size:75px;
                max-width: 800px;
            }
        }

        p{
            font-family: 'Josefin Sans', sans-serif;
            color: inherit;
            font-size: 27px;
        }

        a{
            background: #b56953;
            font-family: "Raleway" ,sans-serif;
            font-size: 15px;
            font-weight: 400;
            padding: 12px 40px;
            letter-spacing: 2px;
            text-shadow: rgb(255, 255, 255) 2px 2px 5px;
        }
    }

    &-form{
        
        form{
            font-family: "Raleway" ,sans-serif;
            width: 360px;
            max-width: 100%;
            padding: 35px 40px;
        }

        label{
            font-size: 13px;
            font-weight: 500;
            padding-bottom: 2px;
            letter-spacing: 1px;
        }

        input{
            font-size: 14px;
            font-family: "Raleway" ,sans-serif;
        }

        .resta{
            margin-bottom: 40px;
            select {
                font-size: 14px;
                &:hover, &:focus {
                    box-shadow: none;
                    outline: 0;
                }
            }
        }
    }

    .carousel-indicators{
        bottom: 20px;
    }

    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 6px;
        margin-left: 6px;
    }

    .nav-open-btn{
        width: 30px;
    }
}

.home-second{
    margin-bottom: 49px;

    @include m.responsive(768px){
        margin-bottom: 99px;
    }
}

.home-slide{

    &-wrap{
        background: #f6f3ea;
    }

    .swiper{
        width: 100%;
        height: 250px;
        order: -1;

        @include m.responsive(768){
            height: 500px;
        }

        @include m.responsive(992){
            width: 650px;
            height: 600px;
            order: 0;
        }

        @include m.responsive(1200){
            width: 900px;
            height: 660px;
        }

        @include m.responsive(1500){
            width: 1140px;
            height: 740px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.home-slide-swiper{

    .swiper{
        width: 100%;
        height: 250px;
        order: -1;

        @include m.responsive(768){
            height: 500px;
        }

        @include m.responsive(992){
            width: 650px;
            height: 600px;
        }

        @include m.responsive(1200){
            width: 900px;
            height: 660px;
        }

        @include m.responsive(1500){
            width: 1140px;
            height: 740px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.home-rel{

    h2{
        font-size: 18px;
    }

    a.raleway{
        font-size: 10px;
    }

    @include m.responsive(768){
        
        h2{
            font-size: calc(1.325rem + .9vw);
        }
    
        a.raleway{
            font-size: 10px;
        }
    }

    img{
        height: 115px;
        
        @include m.responsive(768){
            height: 200px;
        }

        @include m.responsive(992){
            height: 200px;
        }
    }

    p{
        display: none;

        @include m.responsive(768){
            display: block;
        }
    }
}

.home-swiper-end{

    @include m.responsive(992){
        margin-bottom: 99px;
    }

    .swiper{
        width: 80%;
        max-width: 1500px;
    }
}

.hole{

    img{
        object-fit: cover;

        @include m.responsive(1200){
            height: 400px;
        }
    }
}

.lg-backdrop {
    background: rgba(0, 0, 0, 0.75);
}

.homepage{
    .commnet-swiper {
        margin-bottom: 40px;
        padding-left: 15px;

        @include m.responsive(768){
            margin: 0;
            padding-left: 0;
        }
    }
}


.form-button {
    width: 60px;
	height: 180px;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
	z-index: 50;
    background: rgba(181, 105, 83, 0.85);
    color: white;
    z-index: 1;
    i {
		transform: rotate(90deg);
	}
	div {
		transform: rotate(-180deg);
		display: flex;
		writing-mode: vertical-rl;
		cursor: pointer;
	}
}

.fixed-form {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 50;
	width: 400px;
	z-index: 98989;
	max-width: 100%;
	transition: all 0.8s;
	transform: translateX(-150%) translateY(-45%);
	top: 50%;
	border-top-right-radius: 20px!important;
	border-bottom-right-radius: 20px!important;

    label{
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 2px;
        letter-spacing: 1px;
    }
    input{
        font-size: 14px;
        font-family: "Raleway" ,sans-serif;
    }

    .resta{
        margin-bottom: 40px;
    }
}



@media(max-width:768px) {
    .home-respons {
        top: 100px!important;
        .home-hero-text {
            text-align: center;
        }
        .home-hero-form {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            form {
                background: rgba($color: #fff, $alpha: .95)!important;
                border-radius: 5px;
                .resta .border {
                    border: 1px solid #c2c2c2;
                    // border: 1px solid #000!important;
                    background-color: transparent;
                    input {
                        border: 0!important;
                        background: transparent;
                    }
                }
            }
        }
    }
    .fixed-form {
        top: 53%!important;
        width: 300px;
        max-width: 100%;
    }
    .form-button {
        top: 75%!important;

    }
}

